<html>
<body>

<p>这是段落。</p>
<p>这是段落。</p>
<p>这是段落。</p>

<p>段落元素由 p 标签定义。</p>
<a href="http://www.baidu.com">hahaha</a>
<br>
<img src="http://h.hiphotos.baidu.com/image/h%3D300/sign=c212fdd277899e51678e3c1472a6d990/e824b899a9014c0899ee068a067b02087af4f4cc.jpg">


</body>
</html>

